/* 대표 이미지 */
.image-upload {
  position: relative;
}

.image-upload__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.image-upload__preview {
  display: none;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  overflow: hidden;
  cursor: pointer;
}

.image-upload__preview.active {
  display: block;
}

/* 프리뷰 활성화시 label 숨김 */
.image-upload__preview.active ~ .image-upload__label {
  display: none;
}

.image-upload__preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 추가 이미지 */
.image-upload__grid {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.image-upload__grid::-webkit-scrollbar {
  display: none;
}

.image-upload__slot {
  flex: 0 0 200px; /* 고정 너비 */
  aspect-ratio: 1 / 1;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;
}

.image-upload__slot-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  overflow: hidden;
  cursor: pointer;
}

/* 반응형 */
@media (min-width: 767px) {
  /* 추가 이미지 */
  .image-upload__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
    max-width: 440px;
  }
}
