/* 전체 레이아웃 */
.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 헤더 */
.page-header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--color-gray-400);
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.page-header__title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.page-header__button {
  display: none;
}

/* 메인 컨텐츠 */
.assignment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* form-group 공통 */
.form-group {
  padding: 40px 16px 0px 16px;
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: 12px;
}

.form-description {
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  font-weight: var(--font-weight-medium);
}

.input-wrapper__error {
  margin-top: 4px;
  color: var(--color-error);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

/* 대표 이미지 */
.image-upload {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 328px;
  height: 328px;
  background: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
}

.image-upload__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-upload__text-bold {
  margin-bottom: 8px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.image-upload__text {
  margin-bottom: 24px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-400);
}

.image-upload__button {
  background: var(--color-gray-900);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.image-upload__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.image-upload__preview {
  display: none;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  overflow: hidden;
  cursor: pointer;
}

.image-upload__preview.active {
  display: block;
}

/* 프리뷰 활성화시 label 숨김 */
.image-upload__preview.active ~ .image-upload__label {
  display: none;
}

.image-upload__preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 추가 이미지 */
.image-upload__grid {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.image-upload__grid::-webkit-scrollbar {
  display: none;
}

.image-upload__slot {
  flex: 0 0 200px; /* 고정 너비 */
  aspect-ratio: 1 / 1;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;
}

.image-upload__slot-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  overflow: hidden;
  cursor: pointer;
}

/* 카테고리 */
.category-selector__button {
  background: var(--color-white);
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  width: 100%;
  padding: 13px 16px;
  display: flex;
  justify-content: space-between;
}

.category-selector__text {
  color: var(--color-gray-400);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

/* 콘텐츠 제목 */
.input-wrapper {
  width: 100%;
}

.input-wrapper__wrapper {
  padding: 12px 16px;
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
}

.input-wrapper__input {
  border: none;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  height: 80px;
  width: 100%;
}

.input-wrapper__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* 활동 방식 */
.button-group {
  display: flex;
  gap: 8px;
  width: 100%;
}

.button-group__input {
  display: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.button-group__button {
  width: 100%;
  min-height: 47px;
  background: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.button-group__button:hover {
  background: var(--color-gray-200);
  border-color: var(--color-gray-350);
}

.button-group__input:checked + .button-group__button {
  background: var(--color-primary-light);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/* 상세 정보(회차 정보) */
.session-list {
  width: calc(100% - 32px);
}

.session-item {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  background: var(--color-gray-100);
  width: 100%;
}

.session-item__header {
  margin-bottom: 16px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-datetime {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.session-datetime__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-datetime__label {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
}

.session-datetime__input {
  width: 222px;
  height: 52px;
  background: var(--color-white);
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-picker__period {
  background: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  padding: 8px;
  border-radius: 4px;
}

.time-picker__input {
  max-width: 76px;
  border: none;
  text-align: center;
}

.session-activity__label {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.session-activity__description {
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-500);
}

.session-activity__textarea-wrapper {
  background: var(--color-white);
  padding: 12px 16px;
}

.session-activity__textarea {
  border: none;
  width: 100%;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.session-activity__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.session-list__btn-area {
  margin-top: 24px;
  width: 100%;
  margin-bottom: 160px;
}

#addSessionButton {
  width: 100%;
  height: 48px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 푸터 */
.page-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: var(--color-white);
  border-top: 1px solid var(--color-gray-400);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
  width: calc(100% - 32px);
  padding: 8px 16px 16px;
}

.page-footer__button {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 반응형 */
@media (min-width: 767px) {
  /* 헤더 */
  .page-header {
    justify-content: space-between;
  }
  .page-header__title {
    margin-left: 50%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
  }
  .page-header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 38px;
    border-radius: 4px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
  }

  /* 메인 컨텐츠 */
  .assignment-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

  .form-section {
    margin-top: 0px;
  }

  /* 추가 이미지 */
  .image-upload__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
    max-width: 440px;
  }

  /* 푸터 */
  .page-footer {
    display: none;
  }
}
