/* 대표 이미지 */
.image-upload {
  position: relative;
}

.image-upload__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.image-upload__preview {
  display: none;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 400px;
  border-radius: var(--radius-md);
  overflow: hidden;
  cursor: pointer;
}

.image-upload__preview.active {
  display: block;
}

/* 프리뷰 활성화시 label 숨김 */
.image-upload__preview.active ~ .image-upload__label {
  display: none;
}

.image-upload__preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
