:root {
  --color-primary: #03c124;
  --color-primary-light: #E6F9E9
  --color-primary-dark: #026A14;

  --color-black: #121212;        
  --color-gray-900: #323232;
  --color-gray-700: #565656;
  --color-gray-500: #767676;
  --color-gray-400: #8F8F8F;
  --color-gray-350: #BABABA
  --color-gray-300: #D7D7D7;
  --color-gray-200: #E5E5E5;
  --color-gray-100: #F7F7F8;
  --color-white: #FFFFFF;  

  --color-error: #e82929;

  --font-size-2l: 28px;
  --font-size-xl: 24px;
  --font-size-lg: 22px;
  --font-size-md: 20px;
  --font-size-sm: 18px;
  --font-size-xs: 16px;
  --font-size-2s: 14px;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

}
